<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>IndexServlet</servlet-name>
        <servlet-class>com.index.IndexServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IndexJsonServlet</servlet-name>
        <servlet-class>com.index.IndexJsonServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrganizationServlet</servlet-name>
        <servlet-class>com.organization.OrganizationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemServlet</servlet-name>
        <servlet-class>com.rem.RemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GraphServlet</servlet-name>
        <servlet-class>com.graph.GraphServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContactServlet</servlet-name>
        <servlet-class>com.contact.ContactServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>com.search.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BusinessServlet</servlet-name>
        <servlet-class>com.business.BusinessServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PageServlet</servlet-name>
        <servlet-class>com.page.PageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SettingsServlet</servlet-name>
        <servlet-class>com.settings.SettingsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern>/dashboard</url-pattern>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IndexJsonServlet</servlet-name>
        <url-pattern>/indexjson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrganizationServlet</servlet-name>
        <url-pattern>/org</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemServlet</servlet-name>
        <url-pattern>/rem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GraphServlet</servlet-name>
        <url-pattern>/graph</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContactServlet</servlet-name>
        <url-pattern>/contact</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BusinessServlet</servlet-name>
        <url-pattern>/business</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>dashboard</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>PageServlet</servlet-name>
        <url-pattern>/page</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SettingsServlet</servlet-name>
        <url-pattern>/settingsServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
